/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;
}

.jmeno {
    color: white;
    font-family: 'Montserrat', sans-serif ;
    font-size: 24px;
    padding-top: 22px;
    margin: 0;
}

.odkazy {
    width: 250px;
    margin: 0; 
	padding: 0; 
    background-color: #31363b;
    font-family: 'Montserrat', serif ;
    text-transform: uppercase;
    font-size: 15px;
}


.odkazy li.portfolio {
    display: block;
    text-align: center;
    border-bottom: 1px solid #3f464d ;
    border-top: 1px solid #3f464d ;
	margin: 0;
	padding: 0;
}

.odkazy li.facebook,
li.twitter {
    display: inline-block;
    text-align: center;
    width: 125px;
	margin: 0;
	padding: 0;
}

.odkazy a {
	display: block;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}


/* Prechody ramecku */
.odkazy li.facebook:hover {
	background-color: #3b5998;
}  
.odkazy li.twitter:hover {
	background-color: #1da1f2;
} 
.odkazy li.portfolio:hover {
	background-color: #e74c3c;
} 

/* cely ten ramecek */
.obsah {
    color: white;
    background-color: #31363b;
    box-shadow: 0px 1px 17px -3px #000000    ; 
    width: 250px;
    /* text-align: left; */
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
    font-size: 14px;
}


.foto {
    width: 250px;
    margin: 0;
    box-shadow: 0px 1px 17px -3px #000000    ; 

}

/* Czechitas logo ruzove kolecko */
.logo{
    border-radius: 50%;
    background-color: #b92e81;
    position: absolute;
    box-shadow: 0px 1px 17px -3px #000000    ; 
}

